.container {
  display: flex;
  margin: 20px 20px 20px 20px;
  background-color: rgb(240, 240, 240);
  border: 2px solid;
  flex-direction: column;
  padding: 0px 30px;
  padding-bottom: 10px;
  letter-spacing: .5px;
  max-width: 40%;
}

.header {
  margin-bottom: 50px;
}

.item {
  border-bottom: .5px solid black;
  margin-top: 15px;
}

.image {
  display: flex;
}

.productimage {
  height: 20vh;
  width: inherit;
  position: relative;
  border: .5px solid black;
  border-top: none;
  /*background-color: white;*/
  box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, .5);
  transition: 1.5s ease-in-out
}

.productimage:hover {
  transform: rotateY(360deg) scale(1.1);
  transform-origin: right 100px;
}

.caret {
  height: 10px;
  width: 10px;
  background-color: black;
}

.uparrow {
  height: 30px;
  padding-top: 30px;
  transition:.1s ease-in;
}

.uparrow:hover {
  transform: scale(1.4);
}

.avatarimage {
  border-radius: 30px;
}
